[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
jupyter = "*"
matplotlib = "*"
numpy = "*"
tabulate = "*"
curio = "*"
black = "*"
isort = "*"
mypy = "*"
jedi = "*"
python-language-server = {version = "*", extras = ["all"]}
"jupyter-repo2docker" = "*"
requests-mock = "*"
ipytest = "*"
pytest = "*"
line-profiler = "*"
nbdime = "*"
nbstripout = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
